.container-image {
    background-color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: -10vh;
}

#bocadillo {
    position: absolute;
    top: -30vh;
    right: 20vw;
    scale: 0.7;
}

#isabella {
    position: absolute;
    top: -15vh;
    left: 5vw;
    scale: 0.8;
}

@media only screen and (max-width: 480px) {
    #isabella {
        position: absolute;
        top: -5vh;
        left: -15vw;
        scale: 0.8;
    }
    #bocadillo {
        position: absolute;
        top: -30vh;
        left: 45vw;
        scale: 0.7;
    }
}